<!doctype html>
<html>
  <head>
    <title>basic-svg demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>


    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../basic-svg.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <h3>Basic basic-svg Demo</h3>
      <demo-snippet>
        <template>
          <basic-svg id="circle" height="100" width="100" cx="50" cy="50" radius="10"></basic-svg>
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
